@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Titillium+Web:ital@1&display=swap');
*{
  padding: 0;
  margin: 0 0 10px 0;
}
body{   
    font-family: 'Titillium Web';
    color: #333;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(45,7,97,1) 78%);
    background-repeat: cover;
    padding: 0px 20px;
    background-size: cover;
    position: relative;
    overflow-x: hidden;
}
li{
    list-style-type: none;
}
nav{
    display: flex;
    justify-content: space-between;
}
.card {
    box-sizing: border-box;
    width: 200px;
    height: 60px;
    background:rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    margin: 10px;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1);
  }
  
  .card:active {
    transform: scale(1) rotateZ(1.7deg);
  }
#navmenu{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    /* margin-left: 50px; */
}
.card a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-family: 'black ops one';
}
/* html {
    scroll-behavior: smooth;
} */
nav{
    display: flex;
    justify-content: space-evenly;
}
nav h1,img{
    font-family: 'black ops one';
    color: white;
}
nav h1{
    display: inline-flex;
    height: 30px;
    width: auto;
    position: relative;
    top: 60px;
}
nav img{
    display: inline;
    height: 200px;
    width: auto;
}
#h2s{
    position: relative;
    top: 75px;
    display: inline;
    width: 125px;
    height: 50px;
}
#page{
    text-align: center;
    color: white;
    font-family: 'black ops one';
    font-weight: lighter;
    font-size: 25px;
    text-decoration: underline solid 3px;
}
#division{
    position: relative;
    top: 10px;
    height: 0.1px;
    border-style: ridge;
    border-radius: 2px;
}
#profile-container{
    display: grid;
    position: relative;
    top: 10px;
    left: 50px;
    /* right: auto; */
    grid-template-columns: repeat(3,1fr);
}
.flip-card {
    background-color: transparent;
    width: 245px;
    height: 270px;
    perspective: 1000px;
    padding: 10px;
    margin:0 0 0 10px;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }
  
  .flip-card-inner {
    /* position: relative; */
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 2em;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #240d29;
    border: 4px solid #4a517e;
    padding: 10px 0 0 0;
  }
  
  .profile-image {
    background-color: transparent;
    border: solid;
    margin-top: 15px;
    border-radius: 5em;
    width: 120px;
    height: 120px;
    margin-left: 65px;
  }
  
  .pfp {
    border-radius: 35em;
    fill: #dfe2f3;
    height: 120px;
    width: auto;
  }
  
  .name {
    /* margin-top: -20px; */
    margin-left: 0px;
    font-size: 20px;
    color: #dfe2f3;
    font-weight: bold;
  }
  
  .flip-card-back {
    background-color: #4a517e;
    border: 4px solid #dfe2f3;
    transform: rotateY(180deg);
    padding: 11px;
  }
  
  .description {
    margin-top: 10px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #dfe2f3
  }
  
  .socialbar {
    background-color: transparent;
    border-radius: 3em;
    width: 90%;
    padding: 14px;
    margin-top: 11px;
    margin-left: 10px;
    word-spacing: 24px;
    color: #dfe2f3
  }
  
  .socialbar svg {
    transition: 0.4s;
    width: 20px;
    height: 20px;
    color: #dfe2f3
  }
  
  .socialbar svg:hover {
    color: white;
    transform: translateY(-5px);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  footer {
    text-align: center;
    position:relative;
    padding-top: 100px;
    bottom: 0px;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

@media only screen and (max-width: 1137px) {
  #profile-container{
    display: grid;
    grid-template-columns: repeat(2,2fr);
  }
  #navmenu{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* margin-left: 100px; */
    margin: 25px 0px 25px 0px;
  }
  nav h1{
    font-size: 18px;
  }
  #profile-container{
    margin-top: 20px;
  }
  .flip-card{
    margin-bottom: 20px;
  }
  #h2s{
    width: 110px;
    margin-left: 40px;
  }
  #woc{
    width: 140px;
    height: 140px;
    position: relative;
    top: 30px;
  }
  footer{
    font-size: 14px;
  }
}
@media only screen and (max-width: 663px) {
  #profile-container{
    display: grid;
    grid-template-columns: repeat(1,2fr);
  }
  #navmenu{
    display: grid;
    grid-template-columns: repeat(2,10fr);
    margin-left: 100px;
    margin-top: 5%;
  }
  nav>h1{
    font-size: 14px;
  }
  .flip-card{
    margin-bottom: 20px;
    display: flex;
    justify-self: center;
    align-self: center;
    position: relative;
    margin-left: -110px;
  }
  #h2s{
    width: 50px;
    height: 20px;
    margin-left: 30px;
  }
  #woc{
    width: 120px;
    height: 120px;
    position: relative;
    top: 25px;
  }
  footer{
    font-size: 14px;
  }
  #navmenu>.card>a{
    font-size: 12px;
  }
  .card{
    width: 150px;
    height: 40px;
  }
}
@media only screen and (max-width: 526px){
  #navmenu{
    display: grid;
    grid-template-columns: repeat(1,10fr);
    margin-left: 80px;
    margin-top: 35px;
    margin-bottom: 30px;
  }
  nav>h1{
    font-size: 10px;
  }
  #page{
    font-size: 12px;
  }
  footer{
    font-size: 10px;
  }
  
}